.image-text-box{height: 100%;border-radius: 20px;border: 4px solid var(--black);padding: 10px;}
.image-text-img {width:50%;height: 100%;position: relative;padding-bottom: 37%;border-radius:16px;overflow: hidden;}
.image-text-img img{width:100%;height:100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.image-text-content-box{padding-left: 10px;width: 50%;}
.image-text-content-box h4{font-size:64px;font-weight: 700;line-height: 1.2;letter-spacing: 5px;}
.image-text-content-box h5{font-size:24px;font-weight: 600;line-height: 1.4;}
.itc-inside{padding: 20px;border-radius: 10px;}

@media (max-width:991.98px){
  .image-text-img{width: 100%;padding-bottom: 60%;}
  .image-text-content-box{width: 100%;padding: 0;margin-top: 20px;}
}

@media (max-width:575.98px){
  .image-text-box{padding:10px;}
  .image-text-content-box{font-size:14px;width: 100%;}
  .image-text-content-box h4{font-size:48px;}
  .image-text-content-box h5{font-size:20px;font-weight: 600;line-height: 1.4;}
}