.contact-container{padding-top: 200px;}
.contact-gmap-canvas {display: flex;justify-content: center;overflow: hidden;background: none !important;height: 100%;width: 100%;position: relative;z-index: 9;}
.contact-head h3{color: var(--antique-white);font-size: 46px;font-weight: 600;line-height: 1.2;}
.contact-head h1{color: var(--antique-white);font-size: 92px;font-weight: 700;line-height: 1.2;}
.contact-body{margin: 50px 0 80px;}

.contact-body-left{width: 50%;}
.contact-form{width: 100%;border-radius: 1em;}
.contact-form input.form-control,input.form-control:focus{background: var(--antique-white);color: var(--dark-grey);width: 100%;height: 46px;border-radius: 8px;font-size: 18px;font-weight: 500;outline: none;border: none;box-shadow: none;}
.contact-form textarea.form-control,textarea.form-control:focus{background: var(--antique-white);color: var(--dark-grey);width: 100%;height: 114px;border-radius: 8px;font-size: 18px;font-weight: 500;resize: none;outline: none;border: none;box-shadow: none;}
.contact-form input.form-control::placeholder{color: var(--grey);}
.contact-form textarea.form-control::placeholder{color: var(--grey);}

.contact-body-right{width: 50%;padding-left: 10%;}
.contact-details-box{background: var(--dark-grey);padding: 40px 30px;border-radius: 10px;border: 2px solid var(--grey);}
.contact-details-box h4{color: var(--antique-white);font-size: 40px;font-weight: 600;line-height: 1.2;}
.contact-details-row{gap: 20px;}
.contact-details-row:not(:last-child){margin-bottom: 20px;}
.cd-icon{width: 30px;height: 30px;color: rgba(255, 255, 255, 0.3);border-radius: 8px;font-size: 24px;}
.cd-text{color: var(--grey);font-size: 16px;font-weight: 500;line-height: 1.2;}
.cd-text h5{color: var(--teal);font-size: 24px;font-weight: 600;line-height: 1.2;margin-bottom: 8px;}

@media (max-width: 991.98px){
.contact-container{padding-top: 140px;}
.contact-body-left{width: 100%;}
.contact-body-right{width: 100%;padding-left: 0;margin-top: 60px;}
.contact-head h3{font-size: 40px;}
.contact-head h1{font-size: 72px;}
.contact-details-box h4{font-size: 36px;}
}   

@media (max-width: 575.98px){
    .contact-head h3{font-size: 36px;}
    .contact-head h1{font-size: 52px;}
    .contact-details-box h4{font-size: 32px;}
}