.service-box{gap: 30px;background: var(--dark-grey);box-shadow:0 0 20px 2px var(--dark-grey);border-radius:16px;}
.service-img{width:45%;background: var(--white);border-radius:16px;}
.service-img img{width:100%;height: 100%;object-fit: cover;}
.service-content{width: 50%;padding: 30px;}
.service-block-row:nth-child(even) .service-box{flex-flow: row-reverse;}
.service-block-row:nth-child(odd) .service-content{text-align:right}
.service-content{color: var(--white);}
.service-content h4{color: var(--teal);font-size:32px;font-size: 700;line-height: 1.2;}
.service-content h5{color: var(--antique-white);font-size: 20px;font-size: 600;line-height: 1.2;}

@media (max-width: 991.98px) {
.service-img,.service-content{width: 100%;}
.service-block-row:nth-child(odd) .service-content{text-align:left}
}

