.career-wrapper{width: 100%;width: 100%;border-radius:16px;background: var(--black);padding: 30px;}
.career-left{width: 50%;padding-right: 10%;color:var(--grey);}
.career-left h3{font-size:48px;}
.career-right{width: 50%;}


@media (max-width: 991.98px) {
  .career-left{width: 100%;padding-right: 0;}
  .career-right{width: 100%;margin-top: 60px;}
}