.cards-container {width: 100%;}
#menu-categories-title {margin-bottom: 50px;font-size: 4vw;color: #551e19;font-family: "Alkatra", cursive;}
#cards {padding: 0 5%;width: 100%;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: center;gap: 50px;}
.menu-card {display: flex;flex-wrap: wrap;flex-direction: row;width: 300px;font-family: "Short Stack", cursive;background-color: #551e19;border-radius: 10px;}
.menu-item-photo {width: fit-content;position: relative;overflow: hidden;border-radius: 5px;margin: 10px;}
.menu-item-photo div {position: absolute;bottom: 0;right: 0;width: 80px;background-color: #557c3e;text-align: center;border-top-left-radius: 5px;}
.menu-card .menu-item-description {width: 100%;font-size: 1.25em;padding: 10px 10px 0;background-color: wheat;border-radius: 5px;margin: 10px;color: #551e19;}
.menu-card .menu-item-description .menu-item-info {background-color: #e6b17e;padding: 10px;border-radius: 5px;margin-bottom: 10px;}
.menu-card .menu-item-description .menu-item-info span {background-color: #557c3e;color: #e6b17e;font-size: 0.75em;padding: 5px 10px;border-radius: 5px;}
.menu-card .menu-item-title {font-size: 1em;display: inline;font-family: "Alkatra", cursive;}
.menu-card p {font-size: 0.75em;}