.hero-container{min-height: 100dvh;position: relative;padding: 180px 0;}
.hero-bg-outer{width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.hero-bg-outer .swiper .swiper-slide{height: auto;}
.hero-bg{width: 100%;height: 100%;}
.hero-bg img{width: 100%;height: 100%;object-fit: cover;}
.hero-bg::before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:2;background:  linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%), rgba(0,0,0,0.5) 100%;}
.hero-content{color: var(--antique-white);}
.hero-content h5 {font-size: 30px;font-weight: 500;line-height: 1.6;}
.hero-content h1 {font-size: 92px;font-weight:700;line-height:1.2;}
.hero-content h3 {font-size: 46px;font-weight: 600;line-height:1.2;}
.hero-content hr {display: block;width: 60px;height: 3px;background: var(--teal);border: none;margin-top: 15px;opacity: 0.75;}
.hero-bottom {position: absolute;z-index: 50;right: 72px;bottom: 16px;}
.hero-btn{text-transform: uppercase;font-family: var(--font-montserrat);letter-spacing: 0.1rem;font-size: 20px;font-weight: 700;line-height: 1;color: var(--teal);border: 0;background: transparent;}
.swiper-pagination .swiper-pagination-bullet{width: 20px;height: 5px;background-color: var(--antique-white);border-radius: 0;opacity: 1;}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {width: 40px;height: 5px;background-color: var(--teal);}
.swiper-button-disabled{cursor: not-allowed;opacity: 0.5;}

.hero-content-outer .swiper .swiper-slide .hero-content{transform: translateY(20px);opacity: 0;}
.hero-content-outer .swiper .swiper-slide.swiper-slide-active .hero-content{transform: translateY(0);opacity: 1;}

@media(max-width:991.98px){
    .hero-content h5 {font-size: 24px;}
    .hero-content h1 {font-size: 64px;}
    .hero-content h3 {font-size: 28px;}
}

@media(max-width:575.98px){
    .hero-content h5 {font-size: 20px;}
    .hero-content h1 {font-size: 48px;}
    .hero-content h3 {font-size: 24px;}
}