.heading{margin-bottom: 60px;}
.heading h3{font-size: 48px;font-weight: 700;line-height: 1.2;margin-bottom: 0;}

.error-box{padding: 30px;border-radius: 16px;}
.error-box h2{color: var(--teal);font-size: 64px;font-weight: 700;line-height: 1;}
.error-box h4{color: var(--antique-white);font-size: 32px;font-weight: 600;line-height: 1;}

.form-control-row{gap: 10px;}
.form-control-col{flex-grow: 1;flex-basis: 0;}

input.form-control,input.form-control:focus,
select.form-select,select.form-select:focus{height: 48px;padding: 8px 16px;font-size: 16px;font-weight: 300;background-color: var(--dark-grey);color: var(--antique-white);border-radius: 8px;box-shadow: none;border: 0;}
input.form-control::placeholder {color: var(--antique-white);}

.form-control-col .btn{min-width: 100%;height: 48px;color: var(--dark-grey);background: var(--teal);border: 2px solid var(--dark-grey);border-radius: 8px;}
.form-control-col .btn:hover{background: var(--dark-grey)!important;color: var(--antique-white)!important;}

@media(max-width:1199.98px){
    .form-control-col{width: calc(33.33% - 10px);flex-basis: auto;}
}
@media(max-width:991.98px){
    .form-control-col{width: calc(50% - 10px);flex-basis: auto;}
}

@media(max-width:575.98px){
    .form-control-col{width: 100%;}
}

/*function of IG*/
.main-container {flex-wrap: wrap;justify-content: space-around;}

.container-feature {padding: 2.5em 0;}

.feature-posts {width: 80%;height: auto;display: flex;flex-wrap: wrap;gap: 10px;justify-content: center;}

.feature-post-title {width: 5em;height: auto;padding: 45px 30px;font-size: 2em;font-weight: bold;text-transform: uppercase;color: var(--antique-white);background-color: var(--dark-grey);border-radius: 0.5em;}

.feature-post-item {text-decoration: none;width: 10em;height: auto;background-color: var(--dark-grey);display: flex;flex-direction: column;justify-content: space-between;align-items: center;border-radius: 1em;}

.feature-post-img {width: calc(9em - 10px);height: auto;object-fit: cover;padding: 10px;padding-bottom: 0;}

.feature-post-caption {width: 100%;font-size: 1.12em;font-weight: bold;text-align: center;padding: 10px;color: var(--antique-white);background-color: rgba(0, 0, 0, 0.2);border-radius: 1em;}

.container-car {padding: 2.5em 0;}

.car-card-list {display: flex;flex-wrap: wrap;justify-content: center;align-items: center;width: 100%;max-width: 1200px;gap: 30px;padding: 50px;}

.car-card-item {width: 325px;height: 100%;background-color: var(--dark-grey);display: flex;flex-direction: column;justify-content: space-between;align-items: center;border-radius: 1em;}

.car-card-img {width: 100%;height: 100%;object-fit: cover;padding: 10px;aspect-ratio: 16/9;border-radius: 1em;}

.car-card-caption {color: var(--dark-grey);background-color: rgba(255, 255, 255, 0.2);width: 100%;}

.cc-caption-top {display: inline-flex;width: 100%;background-color: var(--dark-grey);}

.cc-caption-top i {color: var(--dark-grey);font-size: 1.5em;font-weight: 600;}

.cc-caption-top p {display: inline-flex;justify-content: space-between;align-items: center;background-color: var(--teal);font-weight: bold;width: 33.33%;padding: 10px;font-size: 1em;margin-bottom: 10px;border-left: 1px solid var(--dark-grey);}

.cc-caption-top p:last-child {border-right: 1px solid var(--dark-grey);}

.car-card-caption span {width: 325px;color: var(--white);font-size: 12px;padding: 5px;}

.cc-caption-bot {display: inline-flex;flex-direction: row;justify-content: space-between;width: 100%;}

.cc-caption-bot p {width: 70%;background-color: var(--teal);color: var(--dark-grey);text-align: center;font-size: 2em;font-weight: bold;padding: 10px;border-left: 1px solid var(--dark-grey);}

.btn-2 {text-decoration: none;width: 30%;font-weight: bold;padding: 10px;text-align: center;background-color: var(--antique-white);color: var(--dark-grey);border: 1px solid var(--antique-white);border-left: 1px solid var(--dark-grey);border-right: 1px solid var(--dark-grey);}

.btn-2:hover {cursor: pointer;color: var(--antique-white);background-color: var(--dark-grey);border: 1px solid var(--dark-grey);}

.cc-caption-term {gap: 5px;}


/* Responsiveness code */

@media (max-width: 768px) {
    body {background-image: radial-gradient(circle,#faebd7,#f3edd4,#eaefd4,#def2d7,#d2f4dd,#d2f4dd,#d2f4dd,#d2f4dd,#def2d7,#eaefd4,#f3edd4,#faebd7);}
    .header-title {  padding: 2em 0.5em;}
    .header-title h1 {  font-size: 0.9em;}
    .header-title h3 {  font-size: 0.75em;}
    .container-1 {  width: 100%;}
    .container-2 {  width: 100%;}
    .feature-posts {  flex-wrap: nowrap;  justify-content: flex-start;  width: 100%;  overflow-x: scroll;  padding: 10px 20px;}
    .feature-post-img {  width: calc(11em - 10px);  height: auto;  padding: 20px;  padding-bottom: 0;}
    /* Hide scrollbar for Chrome, Safari and Opera */.scrollbar-hidden::-webkit-scrollbar {  display: none;}
    /* Hide scrollbar for IE, Edge add Firefox */.scrollbar-hidden {  -ms-overflow-style: none;  scrollbar-width: none;  /* Firefox */}
 
}
    
    @media screen and (min-width: 769px) and (max-width: 1024px) {.header-title h1 {  font-size: 1.5em;}
    .header-title h3 {  font-size: 0.75em;}}


    