.place-card-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;}
.place-card-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}

@media (max-width:991.98px){
.place-card-item{width: 50%;}
}
  
@media (max-width:767.98px){
.place-card-item{width: 100%;}
}