@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --teal: #c2f6ea;
  --white: #fff;
  --antiquewhite: antiquewhite;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  width: 100%;
  margin-top: 125px;
}

/* Navigation menu */

.navbar {
  width: 100%;
  height: auto;
  min-height: 60px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.navbar-first {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  padding: 0 30px;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  width: 15%;
  transition: 0.3s;
}

.navbar-brand img {
  width: 70px;
  height: auto;
  padding: 10px;
}

.navbar-title {
  color: #000;
  font-size: 20px;
  width: 65%;
  text-align: center;
}

.socials {
  display: inline-flex;
  gap: 1rem;
  background-color: transparent;
  font-weight: 700;
}

.fab {
  color: #000;
  padding: 5px;
}

.navbar-second {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--teal);
  width: 100%;
  height: auto;
  padding: 10px 0;
  position: relative;
  top: 0;
  z-index: 100;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}

.nav-item {
  list-style: none;
  padding: 0.25rem 0;
}

.nav-link {
  color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5em;
  transition: background-color ease-in-out 0.25s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--antiquewhite);
  background-color: var(--gray-dark);
  border: 2px solid var(--gray-dark);
}

.btn {
  margin-left: 35rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-dark);
  background-color: var(--teal);
  border: 2px solid var(--gray-dark);
  text-align: center;
  border-radius: 0.5em;
}

.btn:hover {
  color: var(--antiquewhite);
  background-color: var(--gray-dark);
  text-align: center;
  border-radius: 0.5em;
}

.fa-phone {
  transform: rotate(90deg);
  margin-right: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--gray-dark);
}

/* Header Section */

.page-header {
  position: relative;
  background: url(../imgs/header.jpg) no-repeat center bottom fixed;
  background-size: cover;
  height: 450px;
  text-align: center;
}
.page-header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
}
.header-title {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

/* Home Section */

.container {
  width: 100%;
  height: auto;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 50px;
  gap: 50px;
  background-color: rgba(100, 100, 100, 0.5);
}
.banner-item {
  background-color: var(--antiquewhite);
  width: 450px;
  height: auto;
  padding: 5%;
}
.text-block {
  line-height: 3em;
}
.text-block b {
  color: var(--orange);
}
.btn-1 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0rem;
  color: var(--antiquewhite);
  background-color: var(--orange);
  border-color: var(--orange);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

/* footer section */

.page-footer {
  width: 100%;
  height: auto;
  padding: 5em 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.page-footer a {
  text-decoration: none;
  color: var(--gray-dark);
}

.page-footer p {
  width: 100%;
  font-size: 80%;
  font-weight: 500;
  opacity: 0.8;
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}

/*function of IG*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.first {
  flex-direction: column;
  background-color: antiquewhite;
  padding: 7em 5em;
}

.container-1 {
  width: 30%;
  min-width: 300px;
  height: auto;
  color: #fff;
  background-color: var(--gray-dark);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  border-radius: 1em;
}

.num-bg {
  margin: 2px;
  padding: 5px 10px;
  color: var(--gray-dark);
  background-color: antiquewhite;
  border-radius: 0.5em;
}

.second {
  flex-direction: column;
  background-color: #c2f6ea;
  padding: 7em 5em;
}

.main-container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-2 {
  width: 400px;
  height: auto;
  color: #fff;
  background-color: var(--gray-dark);
  border-radius: 1em;
}

.img-container-first {
  width: 125px;
  height: auto;
  padding: 1em;
  background-color: antiquewhite;
  border-radius: 1em;
}

.img-container {
  width: 25%;
  padding: 0.5em;
  background-color: antiquewhite;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.img-container img {
  width: 75px;
  height: auto;
}

.info-container {
  width: 75%;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  padding: 0 1em;
}

/* Car Page */

.container-feature {
  background-color: var(--teal);
  width: 100%;
  height: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-posts {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.feature-post-item {
  text-decoration: none;
  width: 10em;
  height: auto;
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
}

.feature-post-title {
  width: 5em;
  margin: 10px;
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
  color: var(--antiquewhite);
  background-color: var(--gray-dark);
  border-radius: 1em;
}
.feature-post-img {
  width: calc(9em - 10px);
  height: auto;
  object-fit: cover;
  padding: 10px;
}
.feature-post-caption {
  width: 100%;
  font-size: 1.12em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: var(--antiquewhite);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.container-book {
  background-color: var(--antiquewhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.container-title {
  margin: 10px;
  font-size: 2.5em;
  font-weight: bold;
}
.book-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: auto;
  padding: 1em 0;
}
.field {
  margin: 5px;
}
.field input,
.field select,
.btn-book {
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 200;
  background-color: var(--gray-dark);
  color: var(--antiquewhite);
  border-radius: 0.5em;
}
.btn-book {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--gray-dark);
  background-color: var(--teal);
  border-color: var(--gray-dark);
}
.btn-book:hover {
  cursor: pointer;
  background-color: var(--gray-dark);
  color: var(--antiquewhite);
}
.field input::placeholder {
  color: var(--antiquewhite);
  font-size: 1rem;
  font-weight: 200;
  border-style: none;
}
.container-service {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  gap: 20px;
}
.service-card-item {
  width: 300px;
  height: auto;
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
}
.service-card-img {
  width: 10em;
  height: auto;
  padding: 1em;
}
.service-card-caption {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: var(--antiquewhite);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.container-car {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--antiquewhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 30px;
  background-color: var(--antiquewhite);
  padding: 50px;
}

.car-card-item {
  width: 325px;
  height: 325px;
  background-color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
}
.car-card-img {
  width: 300px;
  height: auto;
  margin: 10px;
  aspect-ratio: 16/9;
  border-radius: 1em;
}
.car-card-caption {
  color: var(--gray-dark);
  background-color: rgba(255, 255, 255, 0.2);
}
.cc-caption-top {
  display: inline-flex;
  width: 100%;
  background-color: var(--gray-dark);
}
.cc-caption-top i {
  color: var(--gray-dark);
  font-size: 1.5em;
  font-weight: 600;
}
.cc-caption-top p {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--teal);
  font-weight: bold;
  width: 33.33%;
  padding: 10px;
  font-size: 1em;
  margin: 0 1px 10px;
}
.car-card-caption span {
  width: 325px;
  color: var(--white);
  font-size: 12px;
  padding: 5px;
}
.cc-caption-bot {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cc-caption-bot p {
  width: 70%;
  background-color: var(--teal);
  color: var(--gray-dark);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  margin: 0 1px;
}
.btn-2 {
  width: 30%;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--gray-dark);
  color: var(--antiquewhite);
  border: 1px solid var(--gray-dark);
}

.cc-caption-term {
  gap: 5px;
}

/* Contact Page */

.contact-title {
  padding: 5% 10%;
}

.contact-title h3 {
  color: var(--gray-dark);
  font-size: 1.75vw;
}

.contact-title h1 {
  color: var(--gray-dark);
  font-size: 6vw;
}

.contact {
  font-family: "Readex Pro", sans-serif;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 100px 40px;
}

.contact-form {
  width: 500px;
  padding: 3%;
  background-color: var(--gray-dark);
  border: 10px solid var(--gray-dark);
  border-radius: 1em;
}

.contact-form span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

#form_name,
#form_phone,
#form_email,
#form_message {
  background-color: var(--antiquewhite);
  color: var(--gray-dark);
  width: 100%;
  height: 42px;
  margin-bottom: 1rem;
  border-radius: 0.5em;
}

#form_name,
#form_phone {
  width: 45%;
}

#form_message {
  height: 114px;
}

#button {
  background-color: var(--teal);
  color: var(--gray-dark);
  width: 100%;
  height: 46px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
}

.contact-form input::placeholder {
  color: var(--gray-dark);
  font-size: 1rem;
  font-weight: 200;
  padding-left: 1rem;
  border-style: none;
}

.contact-form input:focus {
  outline: none;
  border-style: none;
}

#form_name:hover,
#form_phone:hover,
#form_email:hover,
#form_message:hover {
  border-bottom: 3px solid var(--blue);
}

#button:hover {
  background-color: var(--gray-dark);
  color: var(--antiquewhite);
}

.gmap-canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 500px;
  border: 10px solid var(--gray-dark);
  border-radius: 1em;
}

/* Responsiveness code */

@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    margin-top: 100px;
  }
  /* NAVBAR */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -800px;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: var(--teal);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
    padding: 10px;
  }
  .nav-item {
    margin: 8px 0;
  }
  .nav-menu.active {
    left: 0;
  }

  .navbar-first {
    padding: 0px;
    height: 100px;
  }

  .navbar-brand {
    width: 10%;
  }

  .navbar-brand img {
    width: 40px;
    padding: 0px;
  }

  .navbar-title {
    font-size: 18px;
    width: 60%;
  }

  .navbar-second {
    padding: 0;
  }

  .btn {
    margin: 0;
  }

  .page-header {
    background: url(../imgs/header.jpg) repeat center bottom fixed;
    background-size: cover;
    height: 300px;
  }

  .header-title {
    padding: 2em 0.5em;
  }

  .header-title h1 {
    font-size: 0.9em;
  }
  .header-title h3 {
    font-size: 0.5em;
  }

  .contact-form {
    padding: 5%;
  }

  .page-footer {
    padding: 5%;
    align-items: center;
  }

  .container-footer {
    flex-direction: column;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-title h1 {
    font-size: 1.5em;
  }
  .header-title h3 {
    font-size: 0.75em;
  }
}
