.type-card-box {min-width: 160px;background: var(--black);color: var(--grey);border-radius: 16px;}
.type-card-title {padding: 45px 30px;font-size: 32px;font-weight: 700;line-height: 1.6;}
.type-card-img {width: 114px;height: 114px;padding-top: 20px;}
.type-card-img img{width: 100%;height: 100%;object-fit: contain;}
.type-card-label {width: 100%;font-size: 18px;font-weight: 600;padding: 10px;background-color: rgba(0, 0, 0, 0.2);border-radius: 16px;}