.login-register-container{padding-top: 180px;}
.login-register-bg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
.login-register-bg img{width: 100%;height: 100%;object-fit: cover;object-position: bottom;}

.content-box{margin-top: 75px;}
.content-box .img-container{padding:20px;background: var(--dark-grey);border-radius: 24px;margin-top: -75px;width: 150px;}
.content-box .img-container img{width: 100%;height: 100%;object-fit: contain;}

.section {position: relative;max-width: 400px;padding: 2rem 3rem;border-radius: 20px;}
h1 {font-size: 2rem;color: #fff;text-align: center;}
.login-inputbox {position: relative;margin: 30px 0;max-width: 310px;border-bottom: 2px solid #fff;}
.login-inputbox label {position: absolute;top: 50%;left: 5px;transform: translateY(-50%);color: #fff;font-size: 1rem;pointer-events: none;transition: all 0.5s ease-in-out;}
input:focus ~ label, input:valid ~ label {top: -5px;}
.login-inputbox input {width: 100%;height: 60px;background: transparent;border: none;outline: none;font-size: 1rem;padding: 0 35px 0 5px;color: #fff;}
.login-inputbox ion-icon {position: absolute;right: 8px;color: #fff;font-size: 1.2rem;top: 20px;}
.login-forget {margin: 35px 0;font-size: 0.85rem;color: #fff;display: flex;justify-content: space-between;}
.login-forget label {display: flex;align-items: center;}
.login-forget label input {margin-right: 3px;}
.login-forget a {color: #fff;text-decoration: none;font-weight: 600;}
.login-forget a:hover {text-decoration: underline;}
button {width: 100%;height: 40px;border-radius: 40px;background-color: rgb(255, 255,255, 1);border: none;outline: none;cursor: pointer;font-size: 1rem;font-weight: 600;transition: all 0.4s ease;}
button:hover {background-color: rgb(255, 255,255, 0.5);}
.login-register {font-size: 0.9rem;color: #fff;text-align: center;margin: 25px 0 10px;}
.login-register p a {text-decoration: none;color: #fff;font-weight: 600;}
.login-register p a:hover {text-decoration: underline;}


.register .username{font-weight:700;color:#000;position:absolute;top:15px;right:20px}
.register .profile{position:absolute;top:0;margin-top: -50px;height:100px;width:100px;border-radius:20%;border-style:solid;border-width:.625rem;border-color: var(--dark-grey);background-color: var(--dark-grey);}
.register .input{width:100%;height:3.125rem;border:none;outline:none;background-color: var(--grey)}
.register .user-name,.pass{justify-content:center;align-items:center;background-color:var(--dark-grey);height:3rem;width:3rem;position:absolute;padding:10px}
.register .name{padding-left:4.375rem;font-size:20px;width: 100%;}
.login-input-box+.login-input-box{margin-top:30px}
.register .link{font-size:16px;font-weight:400;margin-top: 30px;}
.register a{color:var(--dark-grey);font-style:italic;text-decoration:none}
.register .btn-login{cursor:pointer;width:100%;height:70px;border-radius:20px;color:#fff;background-color:var(--dark-grey);font-size:24px;margin-top: 30px;}
