.destination-card-list{width: calc(100% + 24px);margin-left: -12px;margin-bottom: -24px;}
.destination-card-item{width: 33.33%;padding: 0 12px;margin-bottom: 24px;}

.destination-card-box{width: 100%;height: 100%;flex-flow:column;gap: 30px;padding: 10px;border-radius:16px;}
.destination-card-img{width: 100%;border-radius: 12px;position: relative;padding-bottom: 50%;}
.destination-card-img img{width:100%;height:100%;object-fit: cover;position: absolute;top: 0;left: 0;}
.destination-card-content{padding: 0 10px 5px;font-size: 14px;color: var(--white);}
.destination-card-content h6{font-size:14px;font-weight: 600;line-height: 1.2;margin-bottom: 10px;color: var(--antique-white);}
.destination-card-content h4{font-size:24px;font-weight: 700;line-height: 1.2;margin-bottom: 10px;color: var(--teal);}
.destination-card-content p{display: -webkit-box;line-clamp: 3;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}


@media (min-width: 992px) {
    .destination-card-item:first-child {width: 100%;}
    .destination-card-item:first-child .destination-card-box{padding: 0;flex-flow: row-reverse;}
    .destination-card-item:first-child .destination-card-img{width:50%;height: 100%;padding-bottom: 0;}
    .destination-card-item:first-child .destination-card-img img{position: static;}
    .destination-card-item:first-child .destination-card-content{width: calc(50% - 30px);padding: 30px;}
    .destination-card-item:first-child .destination-card-content h6{font-size:20px;}
    .destination-card-item:first-child .destination-card-content h4{font-size:32px;}
}

@media (max-width: 991.98px) {
    .destination-card-item{width: 50%;}
}

@media (max-width: 767.98px) {
    .destination-card-item{width: 100%;}
}

