.section-title{color:#121212;font-size:1.5rem;text-align:center;margin-top:50px}
.plan-list{padding-bottom:80px;width:100%;display:flex;justify-content:center;align-items:center}
.plan{background:#d5ffdc;text-align:center;padding:1rem;margin:.5rem 0;border-radius:10px}
.plan{width:33%;display:flex;flex-direction:column;justify-content:space-between;height: calc(100% - 30px);padding: 40px;}
.plan-highlighted{background:#fcaf3b;color:#fff;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);height:30rem;z-index:50;height: 100%;}
.plan-annotation{background:#fff;color:#fcaf3b;padding:.5rem;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);border-radius:8px}
.plan-title{color:#121212}
.plan-price{color:#858585}
.plan-highlighted .plan-title{color:#fff}
.plan-highlighted .plan-price{color:#121212}
.plan-features{list-style:none;margin:0;padding:0}
.plan-feature{margin:.5rem 0}

#key-features{width: 100%;border-radius:16px;padding: 40px;}
#key-features .section-title{color:#121212;font-size:24px;margin-top:0;margin-bottom:2rem}
.key-feature-list{width: calc(100% + 20px);margin: 0 -10px;margin-bottom: -20px;}
.key-feature-item {width: 16.66%;padding: 0 10px;margin-bottom: 20px;}
.key-feature-image{background:#c9efc7;width:128px;height:128px;border:2px solid #424242;border-radius:50%;margin-bottom:10px;padding:1.5rem}
.key-feature-image img{width: 100%;height: 100%;object-fit: cover;}
.key-feature-description{font-weight:700;color:#121212;font-size:16px;text-align:center}

@media screen and (max-width: 1199.98px) {
    .key-feature-item{width: 33.33%;}
  }
  
  @media screen and (max-width: 767.98px) {
    .plan {height: 25rem;display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;padding: 20px;}
    .key-feature-item{width: 50%;}
  }
  
  @media screen and (max-width: 575.98px) {
    .key-feature-item{width: 100%;}
  }