.car-card-box{border-radius: 16px;overflow: hidden;}
.car-card-img-box{padding: 10px;}
.car-card-img{width: 100%;aspect-ratio: 16/9;border-radius: 16px;}
.car-card-img img{width: 100%;height: 100%;object-fit: cover;}

.car-card-row {width: 100%;background: var(--grey);margin-bottom: 10px;}
.car-card-col svg {color: var(--black);font-size: 20px;font-weight: 600;}
.car-card-col {width: 33.33%;padding: 10px;background: var(--grey);font-size: 14px;font-weight: 700;color: var(--black);border-left: 2px solid var(--black);}
.car-card-col:last-child {border-right: 2px solid var(--black);}

.car-card-content{margin-bottom: 10px;}
.car-card-content h4{width: 60%;height: 65px;padding: 15px;background: var(--grey);color: var(--black);font-size: 28px;font-weight: 700;line-height: 1.2;border-left: 2px solid var(--black);margin-bottom: 0;}
.btn-2 {width: 40%;height: 65px;padding: 18px 10px;background: var(--gold);color: var(--black);font-size: 20px;font-weight: 700;line-height: 1.2;border-left: 2px solid var(--black);border-right: 2px solid var(--black);font-family: var(--font-montserrat);}
.btn-2:hover{color: var(--gold);background: var(--black);border-color: var(--black);}
.car-card-note{color: var(--white);font-size: 12px;padding: 5px;background:  rgba(255, 255, 255, 0.2);}