.resmenu-list{width: calc(100% + 40px);margin: 0 -20px;margin-bottom: -40px;}
.resmenu-item{width: 33.33%;padding: 0 20px;margin-bottom: 40px;}
.resmenu-heading {width: 140px;height: 35px;border: 2px solid black;text-align: center;margin: -10px -10px 20px 0;font-size: 20px;font-weight: 700;border-top: 0;border-right: 0;}
.resmenu-box {font-family:"Outfit",sans-serif; position: relative;;width: 100%;padding: 10px;font-size: 100%;border: 3px solid black;border-radius: 16px 0;}
.resmenu-item:nth-child(3n + 1) .resmenu-heading {background-color: var(--teal);color: black;}
.resmenu-item:nth-child(3n + 2) .resmenu-heading {background-color: var(--dark-grey);color: white;}
.resmenu-item:nth-child(3n + 3) .resmenu-heading {background-color: var(--antique-white);color: black;}

@media (max-width:1199.98px){
  .resmenu-item{width: 50%;}
  }

  @media (max-width:767.98px){
    .resmenu-item{width: 100%;}
    }